# Qt-es

*.o
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h


# QtCreator

Makefile*
*_build*
*.autosave


# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

